{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
    <p>All animals</p>
    <div class="container" id="animalsStyles">
        {{#each animal}}
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><strong>{{name}}</strong></h4>
                <h6 class="">{{type}}</h6>
                <form action="/animals/{{id}}/delete" method="post">
                    <a href="/animals/{{id}}/delete"><button class="btn btn">Delete animal</button></a>
                </form>
            </div>
        {{/each}}
    </div>
    <div>
        <a href="/new/animals"><button class="btn btn-unique">Add New animal</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}