{{#partial "styles"}}
    <link rel='stylesheet' href='./css/styles.css'>
{{/partial}}
{{#partial "content"}}
    <div class="title">
        <h1 class="text display-4"> Welcome To WILD&FREE! </h1>
    </div>
{{/partial}}
{{> layout.hbs}}