* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#003300;
    font-family: 'Fredericka the Great', cursive;
    font-size:20px;
}

body{
    background-image:url("/images/wildlife2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.h1{
    text-align: left;
    color: #00ff00;
}

header {
    /*background-image:url("/images/wildlife2.jpg");*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: white;
    text-decoration: none;
}