<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}} Wild&Free {{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">

    {{#block "styles"}}{{/block}}

</head>
<body>
<header>
        <h2 class="h1">Wild&Free</h2>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li  class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/animals">Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rangers">Rangers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/locations">Locations</a>
            </li>
        </ul>
</header>

{{#block "content"}}

{{/block}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
