<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}} Wild&Free {{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">

    {{#block "styles"}}{{/block}}
</head>

<body>
<div class="collapse navbar-collapse" id="header">
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li  class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/animals">View Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/rangers">View Rangers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/sightings">View Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view/locations">View Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create/animals">Create Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create/rangers">Create Rangers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create/sightings">Create Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create/locations">Create Locations</a>
            </li>
        </ul>

</div>


<div class="container">
    <div class="col-md-12">
        {{#block "content"}}

        {{/block}}

    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
